{% extends "base.html" %}

{% block title %}ML - Data Sets{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3> Public Data Sets </h3>
</div>

<div class="container-fluid">
    <div class="row equaltexttrans">
        <div class="col-sm-12 col-md-12">
            <h3> List of public data sets:
                 <a target="_blank" href="{{ url_for('main.preprocessing') }}"> Process </a>
            <br>
           </h3>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}